# PostgreSQL
export POSTGRES_ADMIN_DB=showflix
export POSTGRES_ADMIN_USER=showflixadmin
export POSTGRES_ADMIN_PASSWORD=
export POSTGRES_PORT=5432

# Garage
export GARAGE_RPC_SECRET=
export GARAGE_ADMIN_TOKEN=
export GARAGE_ADMIN_API=http://garage:3903
export GARAGE_REGION=garage
export GARAGE_ALLOW_HTTP=1
export GARAGE_S3_API=http://localhost:3900
export GARAGE_NODE_CAPACITY=1000000000 #1G
export GARAGE_BUCKET_NAME=catalogue-ingestion-etl

# Airflow metadata
export POSTGRES_AIRFLOW_DB=airflow
export POSTGRES_AIRFLOW_USER=airflow
export POSTGRES_AIRFLOW_PASSWORD=

# Airflow Core
export AIRFLOW_UID=50000
export AIRFLOW_GID=0

# Airflow User Detail
export AIRFLOW_WWW_USER_USERNAME=airflow
export AIRFLOW_WWW_USER_PASSWORD=
