# PostgreSQL
export POSTGRES_ADMIN_DB=showflix
export POSTGRES_ADMIN_USER=showflixadmin
export POSTGRES_ADMIN_PASSWORD=
export POSTGRES_PORT=5432

# Airflow metadata
export POSTGRES_AIRFLOW_DB=airflow
export POSTGRES_AIRFLOW_USER=airflow
export POSTGRES_AIRFLOW_PASSWORD=

# Airflow Core
export AIRFLOW_IMAGE_NAME=airflow-showflix2:3.1.6-python3.11
export AIRFLOW_UID=50000
export AIRFLOW_GID=0

# Airflow User Detail
export AIRFLOW_WWW_USER_USERNAME=airflow
export AIRFLOW_WWW_USER_PASSWORD=
